body{ background-image: url(../images/banner-2.jpg); background-position: center;
background-repeat: no-repeat; }
.footer .col-md-12{ margin-top: 3%; }
.banner{ margin-top: 5%; background-color:white; }
.banner .c2{ margin-left: 8%; padding-top: 3%;}
.banner .c2 p{ font-size: 14px; color: #333333; display: inline; }
.banner .c2 p:nth-child(1){ border-bottom: 1px solid black; }
.banner h3{ font-size: 14px; color: green;  margin-bottom: 25%;  }
.banner h2{ font-size: 24px; color: green; font-weight: bold;
 margin-top: 24%; margin-left: -27%; }
.banner img{ margin-left: 2%; margin-bottom: 2%; }
.banner .col-md-11{ margin-left: 3%; }
.banner .col-md-11 p{ font-size: 18px; color: #333333; text-indent: 2em; }