.header a{ font-size: 18px; color: #333; margin-left: 4%;text-decoration: none;}
.header a:first-child{margin-left: 25%;}
.header a.current{color: #0d9247;}
.header a:hover{color: #0d9247;}
.header img{margin-left: 3%;}

.content .col-md-4{ margin-top: 10%; width: 244px; height: 169px; position: relative; }
.content .col-md-1{ margin-top: 2%; }
.content .col-md-1 a{ font-size: 30px; color: white; display: block; margin-top: 8%; }
.content .col-md-1 img{ display: block; margin-top: 9%;}
.footer{    margin-top: -6%; }
.footer .col-md-12{ margin-left: 27%; }
.footer p{ font-size: 14px; color: #d6d6d6; margin-top: 8%; margin-left: 28%;}