body{ background-image: url(../images/banner-2.jpg); background-position: center;
background-repeat: no-repeat; }
.banner{ overflow: hidden; margin-top: 5%; background-color:white; }
.banner .left{ float: left;  width: 45%;     margin-left: 10%;}
.banner .left h2{ font-size: 18px; color: #333; margin-left: 7%;}
.banner .left input{ float: left; font-size: 14px; color: #333; border: none;
border-bottom: 1px solid black; margin-left: 2%;     padding-left: 2%;
    margin-top: 10%;
    margin-bottom: 6%;}
.banner .left textarea{  float: left; font-size: 14px; color: #333; 
	width: 64%; resize: none; border: none;margin-left: 2%;     padding-left: 2%;
border-bottom: 1px solid black; padding-bottom: 10%;}
.banner .left img{float: left; margin-left: 6%;
    margin-top: 8%; cursor: pointer;}
.banner .left a{float: left; font-size: 18px; color: #333;  margin-top: 20%;
    margin-left: -72%; text-decoration: none;}
.banner .right{float: left; width: 26%;}
.banner .right ul li{ float: left; list-style: none;     
	width: 100%;    margin-bottom: 19%;  }
.banner .right ul li.current{ margin-top: 2%; border-bottom: 1px solid black; }
.banner .right ul li h2{ font-size: 18px; color: #333; font-weight: bold; }
.banner .right ul li img{ float: left; }
.banner .right ul li .img0{ margin-top: -3%; }
.banner .right ul li .img1{ margin-top: 4%; }
.banner .right ul li p{ float: left; margin-left: 3%; }
.banner .right ul li span{ float: left; margin-left: 3%; }
.banner .map{ width: 100%; }