@media screen and (min-width: 992px){
body{ background-image: url(../images/banner-1.jpg); background-repeat: no-repeat;}
.header a{ font-size: 18px; color: #333; margin-left: 4%;text-decoration: none;}
.header a:first-child{margin-left: 25%;}
.header a.current{color: #0d9247;}
.header a:hover{color: #0d9247;}
.header img{margin-left: 3%;}
.content .pic{ margin-top: 45%;    padding-left: 8%;}
.content .c4{ margin-top: 10%; width: 244px; height: 169px; position: relative;margin-left: 1%; }
.content .c4 .box{ display: none; position: absolute; bottom: 50%;
 background-color: rgba(242,248,248,0.8); }
.content .c4:hover .box{ display: block; }
.content .c1{ margin-top: 50%; }
.content .c2{ margin-top: 50%; }
.content .c1 a{ font-size: 30px; color: white; display: block; }
.content .c2 img{ display: block; margin-top: 10%; }
.footer p{ font-size: 14px; color: #d6d6d6; margin-top: 8%; margin-left: 28%;    }
}

@media screen and (max-width: 992px) and (min-width: 768px){
body{  background: url(../images/ipad_banner1.jpg) no-repeat; }
.header a{ font-size: 18px; color: #333; margin-left: 4%;text-decoration: none;}
.header a:first-child{margin-left: 18%;}
.header a.current{color: #0d9247;}
.header a:hover{color: #0d9247;}
.header img{margin-left: 3%;}
.content .pic{ margin-top: 98%;    padding-left: 2%;}
.content .c4{ margin-top: 10%; width: 144px; height: 69px; position: relative;margin-left: 1%; }
.content .c4 img{width: 144px; height: 50px;}
.content .c4 .box{ display: none;  position: absolute; bottom: 30%;
 background-color: rgba(242,248,248,0.8); }
 .content .c4 .box img{width: 144px; height: 99px;}
.content .c4:hover .box{ display: block; }
.content .c1{ margin-top: 101%; }
.content .c2{ margin-top: 99%;margin-left: -4%; }
.content .c1 a{ font-size: 30px; color: white; display: block; }
.content .c2 img{ display: block; margin-top: 10%; }
.footer p{ font-size: 14px; color: #d6d6d6; margin-top: 2%; margin-left: 17%; }
	    }
@media screen and (max-width: 768px){
body{background: url(../images/banner1.jpg) no-repeat;}

.content .pic{ margin-top: 98%;    padding-left: 2%;}
.content .c4{ margin-top: 10%; width: 100px; height: 59px; position: relative;margin-left: 1%; }
.content .c4 img{width: 80px; height: 50px;    margin-left: 8%;}
.content .c4 .box{ display: none;  position: absolute; bottom: 18%;
 background-color: rgba(242,248,248,0.8); }
 .content .c4 .box img{width: 80px; height: 59px;}
.content .c4:hover .box{ display: block; }

.footer{background-color: #333;}
.footer p{ font-size: 14px; color: #d6d6d6; text-align: center;
  display: block;   }
.footer p:nth-child(1){ margin-top: 3%; }
.footer p:nth-child(2){ margin-top: -4%; }
}

