body{ background-image: url(../images/banner-3.jpg); background-position: center;
background-repeat: no-repeat; }
.footer .col-md-12{ margin-top: 3%; }
.banner{ margin-top: 5%; background-color:white; }
.banner .list{background-color: #f5f5f5; border-right: 1px solid #a2a2a2;
border-bottom: 1px solid #a2a2a2;padding-bottom: 2%; margin-left: 1.2%;}
.banner .list h2{font-size: 18px; color: #373737; display: inline-block;}
.banner .list a{ font-size:14px ;color: #373737; text-decoration: none;
margin-left: 10%;    margin-top: 3%;display: block; }
.banner .order .menu h2{margin-left: 2%;}
.banner .order .address{margin-top: 1%;}
.banner .order .address .province{     width: 72%;padding-top: 2%;
padding-bottom: 4%;padding-left: 4%;margin-left: -25%; }
.banner .order .address span{margin-left: 30%;margin-top: 3%;display: block;
font-size: 16px; color: #333;}
.banner .order .detail textarea{    width: 56%;
    line-height: 39px;    margin-left: -4%;
    margin-top: 2%;padding-left: 1%;resize: none;}
.banner .order .detail span{margin-left: 30%;margin-top: 10%;display: block;
font-size: 16px; color: #333;}
.banner .order .name{  margin-left: 1%;  margin-top: 1%;}
.banner .order .name input{margin-left: -7%;}
.banner .order .num{  margin-left: 2%; margin-top: 1%;}
.banner .order .num input{margin-left: -8%;}
.banner .order .btn{ width: 12%; background: #0d9247; margin-top: 2%; 
 margin-left: 14%; color: white; font-size: 18px;}
.banner .order .table{    margin-top: 2%;}
.banner .order .table thead{ background: #eeeeee;border: 1px solid #818181;}
.banner .order .table thead th:nth-child(2){    padding-left: 6%;}
.banner .order .table thead th:nth-child(3){    padding-left: 7%;}
.banner .order .table thead th:nth-child(4){    padding-left: 2%;}
.banner .order .table thead th:nth-child(5){    padding-left: 4%;}
.banner .order .table tbody{border: 1px solid #818181;}
.banner .order .table a:nth-child(1){font-size: 16px; color: #333;
text-decoration: none;}
.banner .order .table a:nth-child(2){font-size: 16px; color: #333;
 border-left: 1px solid #333;  margin-left: 5%;padding-left: 5%;
 text-decoration: none;}
.banner .c12 .pagination{ margin-left: 80%; margin-bottom: 3%; }
.banner .c12 .pagination li{ border-radius: 5px; }

