body{ background-image: url(../images/banner-1.jpg); background-position: center;
background-repeat: no-repeat; }
.footer .col-md-12{ margin-top: 3%; }
.banner{ margin-top: 5%; background-color:white; }
.banner h2{ font-size: 22px; color: #333;margin-top: 1%; padding-top: 2%; margin-left: 4%; font-weight: bold;}
.banner h3{ font-size: 18px;color: #333333; margin-left: 4%;}
.banner h5{    margin-left: 7%; margin-top: 2%; font-size: 18px; color: #333;}
.banner .detail{margin-left: 4%;}
.banner .detail .c4{ border: 2px solid #9e9e9e;position: relative;width: 336px; height: 171px;}
.banner .detail .c4:nth-child(2){margin-left: 2%;}
.banner .detail .c4 .box{ display: none;  
background: url(../images/sanjiaogou.png) no-repeat; width: 336px; height: 171px; }
.banner .detail .c4:hover .box{ display: block;background-position: 286px 136px; }
.banner .detail .c4:hover{ border:2px solid green;}
.banner .detail h4{font-size: 22px; color: #333;border-bottom: 1px solid #dddddd; padding-bottom: 2%;}
.banner .detail p{font-size: 18px; color: #333;margin-top: 2%;}
.banner .detail .c4 div:nth-child(3) a{font-size: 16px; color: #0d9247;text-decoration: none;}
.banner .detail .c4 div:nth-child(4) a{font-size: 16px; color: #333;margin-left: -66%;
	text-decoration: none;   padding-bottom: 9%;display: inline-block;}
.banner .detail .c5{ margin-left: 2%; border: 2px solid #9e9e9e;position: relative;width: 336px; height: 171px;
background: url(../images/shizi.png) no-repeat; background-position: 60px 73px; cursor: pointer;}
.banner .detail .c5 a{font-size: 24px; color: #333; margin-left: 37%; padding-top: 25%;
 display: inline-block;text-decoration: none;}
.banner .table{    margin-left: 1%; width: 97%;}
.banner thead { background: #efefef;}
.banner thead th:nth-child(1){padding-left: 6%;}
.banner thead th:nth-child(2){padding-left: 6%;}
.banner thead th:nth-child(3){padding-left: 6%;}
.banner thead th:nth-child(4){padding-left: 6%;}
.banner tbody{border:1px solid #efefef;}
.banner tbody td:nth-child(2){padding-top: 6%; padding-left: 4%;
.font-size:18px; color: #333 ;font-weight: bolder;}
.banner tbody td:nth-child(3){padding-top: 6%; padding-left: 6%;
.font-size:18px; color: #333 ;}
.banner tbody td:nth-child(4){padding-top: 6%; padding-left: 4%;}
.banner .table tbody tr td span:nth-child(2){font-size: 18px; color: #333; display: block;
    margin-top: -26%; margin-left: 33%;}
.banner .table tbody tr td span:nth-child(3){ margin-left: 32%; margin-top: 3%;
    display: block; font-size: 18px; color: #333;}
.banner .table tbody i{ font-size: 14px; color: #0d9247; font-style: normal;
    display: inline-block; margin-left: 34%; margin-top: 2%;}
.banner .table tbody img {  margin-left: 4%; margin-top: 7%;}
.banner .table tbody em{ font-size: 18px;  color: #0d9247; font-style: normal;}
.banner .table tbody td:nth-child(1){ width: 31%;}                                         
.banner .paylist{width: 97%;    border: 1px solid #efefef;   margin-left: 1%;}
.banner .paylist .list-1{    margin-top: 1%;}
.banner .paylist .list-2{    margin-top: 1%;}
.banner .paylist .list-3{    margin-top: 1%;}
.banner .paylist .list-1 i{font-style: normal;font-size: 14px; color:red;margin-left: 63%;}
.banner .paylist .list-1 em{font-style: normal;font-size: 14px; color: #333;}
.banner .paylist .list-1 span{font-size: 14px; color: #333;   }
.banner .paylist .list-1 div:nth-child(2) span{margin-left: 49%;}
.banner .paylist .list-2 span{font-size: 14px; color: #333;margin-left: 49%;}
.banner .paylist .list-2 i{font-style: normal; font-size: 14px; color: #333;}
.banner .paylist .list-3 span{font-size: 14px; color: #333;margin-left: 49%;}
.banner .paylist .list-3 strong{font-style: normal; font-size: 14px; }
.banner .checkout{width: 97%;margin-left: 1%;background-color: #efefef;}
.banner .checkout i{ font-size: 24px;color: #0d9247;   margin-top: 4%; display: block;
  margin-left: 34%;font-style: normal; }
.banner .checkout span{font-size: 14px; color: #333;}
.banner .checkout .btn{width: 16%; font-size: 24px; color: white; line-height: 33px;
    margin-left: 85.4%; background-color: #0d9247;    display: block;
    border-radius: inherit;}
.banner .checkout .c1{margin-left: 50%;}
.banner .checkout .c1 span{    display: block; margin-left: 49%; margin-top: 9%;}
















/*.banner .list{background-color: #f5f5f5; border-right: 1px solid #a2a2a2;
border-bottom: 1px solid #a2a2a2;padding-bottom: 2%; margin-left: 1.2%;}
.banner .list h2{font-size: 18px; color: #373737; display: inline-block;}
.banner .list a{ font-size:14px ;color: #373737; text-decoration: none;
margin-left: 10%;    margin-top: 3%;display: block; }
.banner .menu img{    margin-left: 30%;  margin-top: 19%;}
.banner .menu a{font-size: 12px; color: #b8b8b8;margin-left: 40%;
	text-decoration: none;}
.banner .menu p{font-size: 18px; color: #434343; text-align: center;
    margin-top: 8%;}
.banner .menu .btn{ font-size: 18px;
    color: white;background: #00913d; margin-left: 23%;}
.banner .detail .score{border:1px solid #cfcfcf; margin-top: 2%;}
.banner .detail .score span{ font-size: 18px; color: #454545; 
line-height: 90px; border-right:1px solid #cfcfcf;    padding-right: 23%;
    display: inline-block;  }
.banner .detail .score i{ margin-top: 11%; display: inline-block; font-style: normal;}
.banner .detail .score a{     text-decoration: none; color: white;
 line-height: 23px; width: 17%; background-color: #00913d;
 display: inline-block; padding-left: 3%; margin-left: 4%; border-radius: 4px;}
.banner .detail .bag{border:1px solid #cfcfcf; margin-top: 2%;}
.banner .detail .bag span{ font-size: 18px; color: #454545; 
line-height: 90px; border-right:1px solid #cfcfcf;    padding-right: 23%;
    display: inline-block;  }
.banner .detail .bag i{ margin-top: 11%; display: inline-block; font-style: normal;}
.banner .detail .bag a{font-style: 12px; color: #737373;
 border-bottom: 1px solid #737373; margin-left:1%; text-decoration: none; }
.banner .mid{margin-top: 3%;margin-left: 4%;}
.banner .table tbody img{margin-left: 14%; margin-top: 3%;}
.banner .table tbody span{font-size: 14px; color: #00913d;
	padding-top: 31%; display: block;}
.banner .table tbody tr td:nth-child(2) i{font-size: 14px; color: #333;
 font-style: normal; padding-top: 13%; display: inline-block;}
.banner .table tbody tr td:nth-child(3) i{padding-top: 33%;display: inline-block;}
.banner .table tbody tr td:nth-child(4) i{padding-top: 61%;display: inline-block;}
.banner .table tbody tr td:nth-child(6) i{padding-top: 31%;display: inline-block;}*/
   
    
   

 









