body{ background-image: url(../images/banner-2.jpg); background-position: center;
background-repeat: no-repeat; }
.footer .col-md-12{ margin-top: 3%; }
.banner{ margin-top: 5%; background-color:white; }
.banner .list{background-color: #f5f5f5; border-right: 1px solid #a2a2a2;
border-bottom: 1px solid #a2a2a2;padding-bottom: 2%; margin-left: 1.2%;}
.banner .list h2{font-size: 18px; color: #373737; display: inline-block;}
.banner .list a{ font-size:14px ;color: #373737; text-decoration: none;
margin-left: 10%;    margin-top: 3%;display: block; }
.banner .order .menu h2{margin-left: 2%;}
.banner .order .current a{font-size: 16px; color: #333;
    margin-left: -19%; text-decoration: none;}
.banner .order .current a:nth-child(1){color: #0d9247;}
.banner .order .current{     background-color: #f4f4f4;
    line-height: 33px;
    width: 98%;
    margin-left: 2%;}
.banner .order .current .c5{ margin-left: -3%; }
.banner .order .current .c5 div:nth-child(1) span{ margin-left: -88%;}
.banner .order .current .c5 div:nth-child(2) span{margin-left: -35%;}
.banner .order .current .c5 div:nth-child(3) span{margin-left:-34%;}
.banner .order .on{background-color: #f4f4f4; line-height: 23px;
width: 98%;  margin-left: 2%;    margin-top: 2%;}
.banner .order .on span{font-size: 14px; color: #999;margin-left: 2%;}
.banner .order .on i{font-size: 16px; color: #333; font-style: normal;}
.banner .order .details .left img{    margin-left: 35%;
    margin-top: 14%;}
.banner .order .details .left p{display: inline-block;    margin-left: 22%;
    margin-top: 16%;}
.banner .order .details .right .c5{     padding-left: 15%;
    margin-top: 6%;
    display: block;
    margin-left: 8%;
    text-align: center;}
.banner .order .details .right span{font-size: 16px;
    color: #333;
    display: inline-block;}
.banner .order .details .right i{
    font-size: 16px;
    color: #999;
    font-style: normal;
    display: inline-block;}
.banner .order .details .right em{font-size: 16px;
    color: #999;
    font-style: normal;
    text-align: center;}
.banner .order .details .right p{    font-size: 16px;
    color: #999;
    margin-left: 22%;
    margin-top: 61%;}
.banner .order .details .right a{    font-size: 16px;
    color: #333;
    display: block;
    margin-left: -16%;
    text-decoration: none;}
.banner .order .details .right a:nth-child(1){border: 1px solid #797979;
    text-decoration: none;
    line-height: 27px;
    text-align: center;
    margin-left: -27%;
    margin-top: -57%;
    width: 100%;
    margin-bottom: 9%;}
.banner .c12 .pagination{ margin-left: 80%; margin-bottom: 3%; }
.banner .c12 .pagination li{ border-radius: 5px; }
