body{ background-image: url(../images/banner-3.jpg);
background-position: center;
background-repeat: no-repeat; }
.content a{ text-decoration: none; }
.banner{ overflow: hidden; background-color: white; margin-top: 4%;}
.banner h2{font-size: 24px; color: #333;     margin-left: 8%;}
.banner .current p{font-size: 16px; color: #333; margin-top: 3%;}



.banner .current p:nth-child(3){font-size: 16px; color: #333; margin-top: 3%;}
.banner .current p:nth-child(4){font-size: 16px; color: #333; margin-top: -1%;}




.banner .current span:nth-child(2){font-size: 16px; color: #333; font-weight:bold;}
.banner .current span:nth-child(1){font-size: 14px; color:#333; font-weight:normal;}
.banner .menu{ border-bottom:1px solid #0d9247; }
.banner .current{  margin-top: 2%; }
.banner .current em{font-size: 16px;
    color: #0d9247;
    margin-top: 1%;
    font-style: normal;
    display: block;
    margin-bottom: 2%; }
.banner .stock{background-color: #ededed;}
.banner .detail{  margin-left: 15%;}
.banner h3{font-size: 16px; color: #333;font-weight: bolder;}
.banner .detail span:nth-child(1){  font-size: 16px; color: #999;   margin-top: 2%;
       display: inline-block;}
.banner .detail span:nth-child(2){ font-size: 16px; color: #999;   margin-top: 2%;
       display: inline-block;   margin-left: -53%;}
.banner .detail em{font-size: 16px; color: #333;
	display: inline-block; font-style: normal;}
.banner .information{margin-left: 15%;}
.banner .information h4{font-size: 16px; color: #333;
  font-weight: bolder;}
.banner .information span{font-size: 14px; color: #333;
  text-align: center; line-height: 36px;}
.banner .information span:nth-child(1){margin-left: 40%;}
.banner .information-bg{background-color: #e2e2e2;}
.banner .information-bg .price{margin-left: 4%;}
.banner .information-detail{    margin-top: 2%;
    margin-left: 12%;     margin-bottom: 3%;}
.banner .information-detail p:nth-child(1){    margin-top: 9%;}
.banner .information-detail em{font-style: normal; font-size: 16px; color: #333;}
.banner .information-detail span{font-size: 16px; color: #333; font-weight: bolder;}
.banner .information-detail .price{    margin-left: -28%;
    margin-top: 6%;}
.banner .information-detail .num{margin-top: 6%;}
.banner .information-detail .do{margin-top: 6%;}