body{ background-image: url(../images/banner-2.jpg);
background-position: center; background-repeat: no-repeat; }
.header{ margin:0 45%; }
.banner{         width: 100%;
    background-color: white;
    margin-top: 5%; margin-bottom: 6%;}
.banner img{     margin-left: 70%;
    margin-top: 30%; }
.banner h2{font-size: 48px; color: #333;     margin-top: 18%;
    margin-left: 7%;}
.banner h3{margin-left: 11%;
    margin-top: 1%;     margin-bottom: 22%;}
.banner span{ font-size: 24px; color: #333;     display: inline-block;
    margin-left: 14%;  margin-top: 8%;}
.banner span.span1{ color: #0d9247;margin-left: -1%; }
.banner p{ font-size: 24px; color: #333; margin-left: 7%; }
.banner a{ font-size: 24px; color: #0d9247; text-decoration: none;
  border-left: 1px solid black;     padding:0 4%;}
.banner a:first-child{ border:none; }
.banner .c6{    margin-left: -12%;}
.banner .group1{margin-top: 20%;}
.content{overflow: hidden;}
.content .left{ float: left; width: 50%; }
.content .left ul li{ float: left; width: 100%; list-style: none; }
.content .left ul li a{ text-decoration: none; font-size: 30px; color: white; }
.content .right{float: right; width: 50%; }
.content .right ul li{ float: right; list-style: none; width: 100%; }
.content .right ul li img{ float: right;  }
.footer p{ color: #d6d6d6; font-size: 14px; margin-left: 26%; margin-top: 8%;}