body{ background-image: url(../images/banner-1.jpg); background-position: center;
background-repeat: no-repeat; }
.footer .col-md-12{ margin-top: 3%; }
.banner{ margin-top: 5%; background-color:white; }
.banner h2{font-size: 24px; color: #333;    margin-top: 4%;
    margin-left: 5%;}
.banner p{ font-size: 18px; color: #333; margin-left: 11%;
    margin-top: 4%;
    margin-bottom: 2%;}

.banner .check {width: 80%;
                 height: 40%;
                 border: 1px solid #0d9247;
                 margin-left: 9%;
                 margin-top: 6%;
                 border-radius: 10px;}	
.banner .yuan {background:url(../images/yuan.png) no-repeat;}
.banner .img1{margin-top: 11%; margin-left: -40%;}
.banner .circle img{display:block;}
.banner .check em{line-height: 62px;margin-left: 40%;font-style: normal;}
.banner i{margin-left: 50%;margin-top: 14%;font-style: normal;display: block;}
.banner span{margin-left: -26%;margin-top: 22%; display: block;}
.banner .cc{ background-position: 21px;margin-top: 2%;  margin-bottom: 2%;}

.banner .password input{    border: 1px solid green; width: 140%;
    border-radius: 8px; margin-left: 56%; line-height: 38px;padding-left: 3%;}
.banner .password a{ font-size: 18px;color: #0d9247;text-decoration: none;
margin-left: 45%;  line-height: 40px;}
.banner .btn{    width: 34%;
    line-height: 40px;
    margin-top: 3%;
    margin-left: 10%;
    background-color: #0d9247;
    font-size: 21px;
    color: white; }
.banner .return{margin-left: 33%;
    margin-top: 7%;}
.banner .return p{font-size: 14px; color: #333;    margin-bottom: 60%;
 margin-left: 2%;}
.banner .return a{font-size: 14px;
    color: #0d9247;
    line-height: 28px;
    text-decoration: none;}