body{ background-image: url(../images/banner-1.jpg);
background-position: center; background-repeat: no-repeat; }
.header{ margin:0 45%; }
.banner{         width: 46%;
    background-color: white;
    margin-top: 4%;
    margin-left: 5%;}
.banner .form-control{ width: 93%; }
.banner .col-md-6{    margin-top: 3%;}
.banner .col-md-6 a.current{ font-size: 24px;
 color: #333;   margin-left: 15%;text-decoration: none;}
.banner .col-md-6 a{ font-size: 24px; margin-top: 5%;
 color: #333;   margin-left: 37%; text-decoration: none;}
.banner .form-horizontal{ margin-top: 5%;}
.banner .control{ width: 33%; display: inline-block; }
.banner .col-sm-10 a{width: 40%;
    display: inline-block;
    line-height: 37px;
    background-color: #0d9247;
    color: white;text-decoration: none;
    text-align: center;
    margin-left: 19%;}
.banner .col-sm-10 .checkbox label{ font-size: 18px;
 color: #0d9247; margin-bottom: 4%;     margin-top: -3%;
    display: block;
    margin-left: -18%;}
.banner .btn {width: 111%;
    margin-left: -18%;
    line-height: 28px;
    font-size: 24px;
    background-color: #0d9247;
    color: white;}
/*.banner h2{ display: inline; float:left; font-size: 24px;
 color: #333; margin-left: 2%; }
.banner h3{ display: inline; float: right; font-size: 24px;
 color: #333;margin-right: 2%; }
.banner h4{ text-align: center;
 background: url(../images/line.png); background-position: center;
 background-repeat: no-repeat;  }
 .banner img{ margin: 6% 4% 20% 6%; }
.banner .in0{      width: 90%;
    margin: 10% 4% 0 4%;     line-height: 33px;
    padding-left: 12px;}
.banner .in{  width: 90%;margin-top: 4%;  margin-bottom: 2%;
line-height: 33px; padding-left: 12px; margin-left: 4%;}
.banner .checkbox{margin-left: 4%;}
.banner .checkbox .a0{ margin-left: 188px; text-decoration: none;}
.banner .form a.a1{  display: block;
    width: 100%;
    line-height: 35px;
    text-decoration: none;
    color: white;
    background-color: #0d9247;
    letter-spacing: 3em;
    padding-left: 37%;
}
.banner .pic{    margin-left: 23%;}
.banner .pic img{ margin-left: 3%; }*/
.content{overflow: hidden;}
.content .left{ float: left; width: 50%; }
.content .left ul li{ float: left; width: 100%; list-style: none; }
.content .left ul li a{ text-decoration: none; font-size: 30px; color: white; }
.content .right{float: right; width: 50%; }
.content .right ul li{ float: right; list-style: none; width: 100%; }
.content .right ul li img{ float: right;  }
.footer p{ color: #d6d6d6; font-size: 14px; margin-left: 26%; margin-top: 15%;}