body{ background-image: url(../images/banner-1.jpg); background-repeat: no-repeat; height: 1200px;}
.footer .col-md-12{ margin-top: 3%; }
.banner{ margin-top: 1%; background-color:white; }
.banner h2{font-size: 24px; color: #333; margin-top: 2%;margin-left: 7%; font-weight: bolder;}


.banner .table .allCheck{width: 20px; height: 20px; border: 1px solid black;}
.banner .table .check{width: 20px; height: 20px; border: 1px solid black;margin-left: 49%; margin-top: 34%;}



.banner .table thead{  background-color:#d8d8d8; border: 0px solid #d8d8d8;}
.banner .table thead th span{    margin-left: 45%; display: block; margin-top: -30%;}
.banner .table thead th:nth-child(1){ padding-left: 7%;}
.banner .table thead th:nth-child(2){ padding-left: 18%;}
.banner .table thead th:nth-child(3){ padding-left: 6%;}
.banner .table thead th:nth-child(4){ padding-left: 10%;}
.banner .table thead th:nth-child(5){ margin-left: -76%;  display: block; border: none;}
.banner .table tbody td:nth-child(2){width: 28%;}
.banner .table tbody td input{width: 9%;text-align: center;}

.banner .table tbody .img1{display: inline-block; margin-left: 72%; margin-top: -36%;}
.banner .table tbody .check .img0{margin-left: 35%; margin-top: 30%;  display: block;}
.banner .table tbody h3{ font-size:18px; color: #333 ;  margin-left: 24%;}
.banner .table tbody em{display: block; margin-top: 8%;margin-left: 24%;font-style: normal;
color: #0d9247;font-size: 14px;}
.banner .table tbody .price i{display:block; font-style: normal;margin-top: 36%;margin-left: 31%;}
.banner .table tbody .totalPrice { font-size: 18px;color: #0d9247;font-weight: bold;
    font-style: normal;display: block; margin-top: 83%;display: block;
    margin-left: -100%; font-style: normal;}
.banner .table tbody .plus{    margin-left: 33%; margin-top: 15%;}
.banner .table tbody a:nth-child(1){font-size:14px ;color: #333 ;margin-top: 23%;
 margin-left: -17%;display: block; text-decoration: none;}
.banner .table tbody a:nth-child(2){font-size:14px ;color: #333 ; margin-top: 10%;
display: block; margin-left: -16%; text-decoration: none;}
/*.banner .gou{background:url(../images/duigou.png) no-repeat; background-position: 55px}*/


.banner .select{margin-top: 1%;border-top: 1px solid #a0a0a0; width: 100%;
    margin-left: 0.1%;}
.banner .select a{font-size: 14px; color: #0d9247;    margin-bottom: 17%;
margin-left: -132%;margin-top: 8%;display: block;     text-decoration: none; }
.banner .pay{background: #d8d8d8;width: 100%;margin-left: 0.1%;line-height: 37px;}
.banner .pay span{font-size: 18px; color: #333; margin-left: 1%;} 
.banner .pay .btn{width: 14%;border-radius: 8px;border: none;line-height: 33px;
background: #0d9247;color: white;margin-top: -13%; margin-left: 85%;}
.banner .pay label{margin-left: 67%;}



