body{ background-image: url(../images/banner-1.jpg); background-position: center;
background-repeat: no-repeat; }
.footer .col-md-12{ margin-top: 3%; }
.banner{ margin-top: 5%; background-color:white; }
.banner .list{background-color: #f5f5f5; border-right: 1px solid #a2a2a2;
border-bottom: 1px solid #a2a2a2;padding-bottom: 2%; margin-left: 1.2%;}
.banner .list h2{font-size: 18px; color: #373737; display: inline-block;}
.banner .list a{ font-size:14px ;color: #373737; text-decoration: none;
margin-left: 10%;    margin-top: 3%;display: block; }
.banner .menu img{    margin-left: 30%;  margin-top: 19%;}
.banner .menu a{font-size: 12px; color: #b8b8b8;margin-left: 40%;
	text-decoration: none;}
.banner .menu p{font-size: 18px; color: #434343; text-align: center;
    margin-top: 8%;}
.banner .menu .btn{ font-size: 18px;
    color: white;background: #00913d; margin-left: 23%;}
.banner .detail .score{border:1px solid #cfcfcf; margin-top: 2%;}
.banner .detail .score span{ font-size: 18px; color: #454545; 
line-height: 90px; border-right:1px solid #cfcfcf;    padding-right: 23%;
    display: inline-block;  }
.banner .detail .score i{ margin-top: 11%; display: inline-block; font-style: normal;}
.banner .detail .score a{     text-decoration: none; color: white;
 line-height: 23px; width: 17%; background-color: #00913d;
 display: inline-block; padding-left: 3%; margin-left: 4%; border-radius: 4px;}
.banner .detail .bag{border:1px solid #cfcfcf; margin-top: 2%;}
.banner .detail .bag span{ font-size: 18px; color: #454545; 
line-height: 90px; border-right:1px solid #cfcfcf;    padding-right: 23%;
    display: inline-block;  }
.banner .detail .bag i{ margin-top: 11%; display: inline-block; font-style: normal;}
.banner .detail .bag a{font-style: 12px; color: #737373;
 border-bottom: 1px solid #737373; margin-left:1%; text-decoration: none; }
.banner .mid{margin-top: 3%;margin-left: 4%;}
.banner .table tbody img{margin-left: 14%; margin-top: 3%;}
.banner .table tbody span{font-size: 14px; color: #00913d;
	padding-top: 31%; display: block;}
.banner .table tbody tr td:nth-child(2) i{font-size: 14px; color: #333;
 font-style: normal; padding-top: 13%; display: inline-block;}
.banner .table tbody tr td:nth-child(3) i{padding-top: 33%;display: inline-block;}
.banner .table tbody tr td:nth-child(4) i{padding-top: 61%;display: inline-block;}
.banner .table tbody tr td:nth-child(6) i{padding-top: 31%;display: inline-block;}
   
    