body{ background-image: url(../images/logo-banner.jpg);
background-position: center; background-repeat: no-repeat; }
.header{ margin:0 45%; }
.banner{     width: 35%;
    background-color: white;
    margin-top: 8%;
    margin-left: 17%;}
.banner h2{ display: inline; float:left; font-size: 24px;
 color: #333; margin-left: 2%; }
.banner h3{ display: inline; float: right; font-size: 24px;
 color: #333;margin-right: 2%; }
.banner h4{ text-align: center;
 background: url(../images/line.png); background-position: center;
 background-repeat: no-repeat;  }
 .banner img{ margin: 6% 4% 20% 6%; }
.banner .in0{      width: 90%;
    margin: 10% 4% 0 4%;     line-height: 33px;
    padding-left: 12px;}
.banner .in{  width: 90%;margin-top: 4%;  margin-bottom: 2%;
line-height: 33px; padding-left: 12px; margin-left: 4%;}
.banner .checkbox{margin-left: 4%;}
.banner .checkbox .a0{ margin-left: 188px; text-decoration: none;}
.banner .form a.a1{  display: block;
    width: 100%;
    line-height: 35px;
    text-decoration: none;
    color: white;
    background-color: #0d9247;
    letter-spacing: 3em;
    padding-left: 37%;
}
.banner .pic{    margin-left: 23%;}
.banner .pic img{ margin-left: 3%; }
.content{overflow: hidden;}
.content .left{ float: left; width: 50%; }
.content .left ul li{ float: left; width: 100%; list-style: none; }
.content .left ul li a{ text-decoration: none; font-size: 30px; color: white; }
.content .right{float: right; width: 50%; }
.content .right ul li{ float: right; list-style: none; width: 100%; }
.content .right ul li img{ float: right;  }
.footer p{ color: #d6d6d6; font-size: 14px; margin-left: 26%; margin-top: 15%;}