body{ background-image: url(../images/banner-2.jpg); background-position: center;
background-repeat: no-repeat; }
.banner{ margin-top: 5%; background-color:rgba(254,252,252,0.5); }
.banner .c2{ margin-left: 8%; padding-top: 3%;}
.banner .c2 p{ font-size: 14px; color: #333333; display: inline; }
.banner .c2 p:nth-child(1){ border-bottom: 1px solid black; }
.banner .c2 h3{ font-size: 14px; color: green;  margin-bottom: 25%;  }
.banner .c4 h2{ font-size: 24px; color: green; font-weight: bold;
 margin-top: 24%; margin-left: -27%; margin-bottom: 33%; }
.banner .c6{ background-color: white; margin-left: -5.5%; }
.banner .c6:hover{ background-color: #2b9e6c; }
.banner .c6:hover h2{ color: white; }
.banner .c6:hover p{ color: white; }
.banner .c6 h2{ font-size: 24px; color: #333333; text-align: center;}
.banner .c6 p{ font-size: 14px; color: #333333; line-height: 25px;  }
.content .c1 a{     text-decoration: none; }
.banner .media{     margin-top: 1%; margin-left: 6%; }
.banner .media-body{ background: white;
    width: 621px;
    padding-left: 16%;
    padding-top: 3%;
    padding-right: 6%; }
.banner .media .media-left {padding-right: 0;}
.banner .media-body h4{ font-size: 24px; color: #333333; 
	margin-left: 3%;}
.banner .media-body p{ font-size: 14px; color: #333333; }
.banner .media-body:hover{ background: #2ca06d; }
.banner .media-body:hover h4{ color: white; }
.banner .media-body:hover p{ color: white; }
.banner .c12 .pagination{ margin-left: 80%; margin-bottom: 3%; }
.banner .c12 .pagination li{ border-radius: 5px; }