body{ background-image: url(../images/banner-2.jpg); background-position: center;
background-repeat: no-repeat; }
.banner{ margin-top: 5%; background-color:rgba(254,252,252,0.8); }
.banner .c2{ margin-left: 8%; padding-top: 3%;}
.banner .c2 p{ font-size: 14px; color: #333333; display: inline; }
.banner .c2 p:nth-child(1){ border-bottom: 1px solid black; }
.banner .c2 h3{ font-size: 14px; color: green;  margin-bottom: 25%;  }
.banner .c4 h2{ font-size: 24px; color: green; font-weight: bold;
 margin-top: 24%; margin-left: -27%; margin-bottom: 33%; }
.banner .c12 p{ font-size: 30px; color: #0d9247; text-align: center; font-weight: bold; }
.banner .img0{margin:0 2%;}
.banner .img1{ margin-left: 24%;
    margin-top: 1%; }
.banner .c8{ margin-left: 9%; }
.banner .c8 p{  font-size: 18px; color: #333;   margin-left: 23%;
text-indent: 2em; line-height: 33px;}
.banner .c6{     margin-left: 23%;         margin-top: 1%;
    margin-bottom: 1%; }
.banner .c6 span{ font-size: 14px;color: #666; }
.banner .c6 span.next{ margin-bottom: 2%; }
.banner .c6 a{ font-size: 14px;color: #666; text-decoration: none; }
.banner .c6 a.current{ color: #0d9247; }
.banner .c6 a:hover{ color: #0d9247; }