body{ background-image: url(../images/banner-3.jpg);
background-position: center;
background-repeat: no-repeat; }
.content a{ text-decoration: none; }
.banner{ overflow: hidden; background-color: white; margin-top: 4%;}
.banner .sidebar{ float: left; width: 185px; 
text-align: center; /*border-bottom: 1px solid black;*/
border-right: 1px solid black; }
.banner .sidebar ol{     margin-left: -28%;}
.banner .sidebar ol li{  list-style: none;
line-height: 40px; width: 196px;  }
.banner .sidebar ol li:hover{ background-color: #2ca06d; }
.banner .sidebar ol li:hover a{ color: white;}
.banner .sidebar ol li:hover h2{ color: white;}
.banner .sidebar ol li.on{ margin-top: 40px;  margin-bottom: 188%; }
.banner .sidebar ol li a{ font-size: 18px; color: #2ca06d;
 text-decoration: none;   line-height: 70px;}
.banner .sidebar ol li.current{ background-color: #2ca06d;  }
.banner .sidebar ol li.current a{ color: white; }
.banner .sidebar ol li h2{ font-size: 24px;  color: #2ca06d;     line-height: 70px;}
.location .input-group{ margin-top: 5%;}
.location .input-group input{ border: 1px solid green;
								border-right: none;
								border-radius: 9px;
								margin-left: 2%; }
.location .input-group-addon{     border: 1px solid green;
    border-radius: 9px;
    background: green; }
.location p{ font-size: 14px; color: #333333; display: inline;
margin-top: 2%; }
.location p.current{ border-bottom: 1px solid black; }
.location a{ font-size: 14px; color: #009966; display: block;}
.main{ overflow: hidden; float: left; width: 990px; margin-left: 13%;
    margin-top: -48%;}
.main ul li{ float: left; list-style: none; width: 236px; height: 171px; position: relative;}
.main ul li img{ width: 236px; }
.main ul li .box{ display: none; width: 236px; height: 100%; position: absolute; top: 0;
 background: rgba(90,200,152,0.8); }
.main ul li .box h2{font-size: 18px; color: white; text-align: center; margin-top: 12%;}
.main ul li .box h3{font-size: 18px; color: white; text-align: center;}
.main ul li .box a{ display: block; width: 100px; height: 33px; font-size:18px ; color: #11945b ;
  line-height: 33px; background-color: white; text-align: center;
   text-decoration: none; margin-left: 30%; font-weight: bold;}
.main ul li:hover .box{ display: block; }
.page{ float:right; margin-left: 12%; }