body{ background-image: url(../images/banner-3.jpg);
background-position: center;
background-repeat: no-repeat; }
.banner{ overflow: hidden; background-color: white; margin-top: 4%;}
.banner .sidebar{ border-right: 1px solid #a0a0a0; }
.banner .sidebar h2{ font-size: 24px; color: #11945b; width: 112%; 
    text-align: center; font-weight: bold;}
.banner .sidebar a{     font-size: 18px;
    color: #11945b; text-decoration: none;
    text-align: center; display: block;
    margin: 50% 0;
    font-weight: bold;
    width: 109%;
    line-height: 60px; }
.banner .sidebar a:hover{ color: white; background-color:#11945b;  }
.banner .sidebar a.current{ color: white; background-color:#11945b;  }
.banner .location{ margin-top: 2%; }
.banner span{font-size: 14px; color: #333; margin-top: 1%;}
.banner span.current{font-size: 14px; color: #333; border-bottom: 1px solid black;}
.banner p{font-size: 14px; color: #009966;}
.banner .search{ margin-top: 2%; margin-left: 22%; }
.banner .samllimage{ margin: 3% 1%; }
.banner .samllimage img{ width: 47px; height: 47px;}
.banner .samllimage img:hover{ border:1px solid #11945b; }
.banner #bigpic{ width: 210px; height: 210px; }
.banner .font{    margin-top: 6%;}
.banner .font h3{ font-size: 16px; color: #666; }
.banner .font p{  font-size: 16px; color: #666;  }
.banner .label{ font-size: 18px; color: #666; }
.banner .form-horizontal h2{margin-left: 18%;}
.banner .form-horizontal .group{ width: 100%; height: 30%;
 background-color: #c5f6e0; line-height: 40px;}
 .banner .form-horizontal .group .label1{ font-size: 30px;color: #189c63;
  font-weight: normal; }
.banner .search .control{ width: 100%; border: 1px solid #189c63 ; }
.banner .search span{ background-color: #189c63; line-height: 24px;}
.banner .form-control{ width: 10%; }
.banner .up{margin-left: 10%;
    margin-top: -16%;
    height: 21px;}
.banner .down{    margin-left: -8%;
    margin-top: -7%;
    height: 21px;}
.banner .btn0{ margin-left: 8%;  width: 85%; background-color: #2eb97c;
color: white; }
.banner .btn1{background-color: #ececec; color:#333;}